 <!-- End Content -->
<!-- Footer -->
<footer>
    <div class="container">
        <!-- Footer Upside Links -->
        <div class="foot-link">
            <ul>
                <li><a href="#."> درباره ما </a></li>
                <li><a href="#."> خدمات مشتری </a></li>
                <li><a href="#."> حریم خصوصی </a></li>
                <li><a href="#."> نقشه سایت </a></li>
                <li><a href="#."> شرایط جستجو </a></li>
                <li><a href="#."> جستجوی پیشرفته </a></li>
                <li><a href="#."> سفارشات و بازگشت </a></li>
                <li><a href="#."> تماس با ما</a></li>
            </ul>
        </div>
        <div class="row">

            <!-- Contact -->
            <div class="col-md-4">
                <h4>تماس اسمارت تچ!</h4>
                <p>
                    آدرس: ایران,تهران,خیابان آزادی
                    ایران
                </p>
                <p>تلفن: 09357651183</p>
                <p>ایمیل: arashkhademloo74@gmail.com</p>
                <div class="social-links">
                    <a href="#."><i class="fa fa-facebook"></i></a> <a href="#.">
                        <i class="fa fa-twitter"></i>
                    </a> <a href="#."><i class="fa fa-linkedin"></i></a> <a href="#."><i class="fa fa-pinterest"></i></a> <a href="#.">
                        <i class="fa fa-instagram"></i>
                    </a> <a href="#."><i class="fa fa-google"></i></a>
                </div>
            </div>

            <!-- Categories -->
            <div class="col-md-3">
                <h4>دسته بندی ها</h4>
                <ul class="links-footer">
                    <li><a href="#.">صوتی و تئاتر خانگی</a></li>
                    <li><a href="#."> تلویزیون و ویدئو</a></li>
                    <li><a href="#."> دوربین، عکس و ویدئو</a></li>
                    <li><a href="#."> تلفن همراه و لوازم جانبی</a></li>
                    <li><a href="#."> هدفون</a></li>
                    <li><a href="#."> بازی های ویدئویی</a></li>
                    <li><a href="#."> بلوتوث و بی سیم</a></li>
                </ul>
            </div>

            <!-- Categories -->
            <div class="col-md-3">
                <h4>خدمات مشتری</h4>
                <ul class="links-footer">
                    <li><a href="#.">حمل و نقل و بازگشت</a></li>
                    <li><a href="#."> خرید مطمئن</a></li>
                    <li><a href="#."> حمل و نقل بین المللی</a></li>
                    <li><a href="#."> همکاران فروش</a></li>
                    <li><a href="#."> تماس </a></li>
                </ul>
            </div>

            <!-- Categories -->
            <div class="col-md-2">
                <h4>اطلاعات</h4>
                <ul class="links-footer">
                    <li><a href="#.">وبلاگ</a></li>
                    <li><a href="#."> درباره فروشگاه</a></li>
                    <li><a href="#."> خرید مطمئن</a></li>
                    <li><a href="#."> اطلاعات تحویل</a></li>
                    <li><a href="#."> محل فروشگاه</a></li>
                    <li><a href="#."> پرسش و پاسخ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Rights -->
<div class="rights">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>کپی رایت 2017 <a href="#." class="ri-li"> اسمارت تچ </a>HTML5 قالب. همه حقوق محفوظ است</p>
            </div>
            <div class="col-sm-6 text-right"> <img src="~/images/card-icon.png" alt=""> </div>
        </div>
    </div>
</div>

<!-- End Footer -->