 <!-- Header -->
<header>
    <div class="container">
        <div class="logo"> <a href="index-2.html"><img src="~/images/logo.png" alt=""></a> </div>
        <div class="search-cate">
            <select class="selectpicker">
                <option> همه دسته بندی ها</option>
                <option> صوتی و تئاتر خانگی</option>
                <option> تلویزیون و ویدئو</option>
                <option> دوربین، عکس و ویدئو</option>
                <option> تلفن همراه و لوازم جانبی</option>
                <option> هدفون</option>
                <option> بازی های ویدئویی</option>
                <option> بلوتوث و بی سیم </option>
                <option> کنسول بازی</option>
                <option> کامپیوترها و تبلت ها</option>
                <option> مانیتور ها </option>
            </select>
            <input type="search" placeholder="کل فروشگاه را اینجا جستجو کنید...">
            <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
        </div>

        <!-- Cart Part -->
        <ul class="nav navbar-right cart-pop d-flex">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="itm-cont">3</span> <i class="flaticon-shopping-bag"></i> <strong>سبد خرید من</strong> <br>
                    <span>3 مورد - 500 تومان</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="media-left">
                            <a href="#." class="thumb">
                                <img src="~/images/item-img-1-1.jpg"
                                     class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#." class="tittle">لپ تاپ</a> <span>250 x 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="media-left">
                            <a href="#." class="thumb">
                                <img src="~/images/item-img-1-2.jpg"
                                     class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#." class="tittle">دوربین</a> <span>250 x 1</span>
                        </div>
                    </li>
                    <li class="btn-cart"> <a href="#." class="btn-round">مشاهده سبد خرید</a> </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Nav -->
    <nav class="navbar ownmenu">
        <div class="container">

            <!-- Categories -->
            <div class="cate-lst">
                <a data-toggle="collapse" class="cate-style" href="#cater">
                    <i class="fa fa-list-ul"></i> دسته بندی ها
                </a>
                <div class="cate-bar-in">
                    <div id="cater" class="collapse">
                        @await Component.InvokeAsync("GetCategory")
                    </div>
                </div>
            </div>

            <!-- Navbar Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#nav-open-btn" aria-expanded="false">
                    <span>
                        <i class="fa fa-navicon"></i>
                    </span>
                </button>
            </div>
            <!-- NAV -->
            <div class="collapse navbar-collapse" id="nav-open-btn">
                @await Component.InvokeAsync("GetMenu")
            </div>

            <!-- NAV RIGHT -->
            <div class="nav-right">
                <span class="call-mun">
                    <i class="fa fa-phone"></i> <strong>خط تلفن:</strong>
                    09357651183
                </span>
            </div>
        </div>
    </nav>
</header>