 <!-- Header -->
<header>
    <div class="container">
        <div class="logo"> <a href="index-2.html"><img src="~/images/logo.png" alt=""></a> </div>
        <div class="search-cate">
            <select class="selectpicker">
                <option> همه دسته بندی ها</option>
                <option> صوتی و تئاتر خانگی</option>
                <option> تلویزیون و ویدئو</option>
                <option> دوربین، عکس و ویدئو</option>
                <option> تلفن همراه و لوازم جانبی</option>
                <option> هدفون</option>
                <option> بازی های ویدئویی</option>
                <option> بلوتوث و بی سیم </option>
                <option> کنسول بازی</option>
                <option> کامپیوترها و تبلت ها</option>
                <option> مانیتور ها </option>
            </select>
            <input type="search" placeholder="کل فروشگاه را اینجا جستجو کنید...">
            <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
        </div>

        <!-- Cart Part -->
        <ul class="nav navbar-right cart-pop d-flex">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="itm-cont">3</span> <i class="flaticon-shopping-bag"></i> <strong>سبد خرید من</strong> <br>
                    <span>3 مورد - 500 تومان</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="media-left">
                            <a href="#." class="thumb">
                                <img src="~/images/item-img-1-1.jpg"
                                     class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#." class="tittle">لپ تاپ</a> <span>250 x 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="media-left">
                            <a href="#." class="thumb">
                                <img src="~/images/item-img-1-2.jpg"
                                     class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#." class="tittle">دوربین</a> <span>250 x 1</span>
                        </div>
                    </li>
                    <li class="btn-cart"> <a href="#." class="btn-round">مشاهده سبد خرید</a> </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Nav -->
    <nav class="navbar ownmenu">
        <div class="container">

            <!-- Categories -->
            <div class="cate-lst">
                <a data-toggle="collapse" class="cate-style" href="#cater">
                    <i class="fa fa-list-ul"></i> دسته بندی ها
                </a>
                <div class="cate-bar-in">
                    <div id="cater" class="collapse">
                        <ul>
                            <li><a href="#."> صوتی و تئاتر خانگی</a></li>
                            <li><a href="#."> تلویزیون و ویدئو</a></li>
                            <li><a href="#."> دوربین، عکس و ویدئو</a></li>
                            <li class="sub-menu">
                                <a href="#."> تلفن همراه و لوازم جانبی</a>
                                <ul>
                                    <li><a href="#."> تلویزیون و ویدئو</a></li>
                                    <li><a href="#."> دوربین، عکس و ویدئو</a></li>
                                    <li><a href="#."> تلفن همراه و لوازم جانبی</a>
                                </ul>
                            </li>
                            <li><a href="#."> هدفون</a></li>
                            <li><a href="#."> بازی های ویدئویی</a></li>
                            <li class="sub-menu">
                                <a href="#."> بلوتوث و بی سیم بلندگو</a>
                                <ul>
                                    <li><a href="#."> تلویزیون و ویدئو</a></li>
                                    <li><a href="#."> دوربین، عکس و ویدئو</a></li>
                                    <li><a href="#."> تلفن همراه و لوازم جانبی</a>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#."> کنسول بازی</a>
                                <ul>
                                    <li><a href="#."> تلویزیون و ویدئو</a></li>
                                    <li><a href="#."> دوربین، عکس و ویدئو</a></li>
                                    <li><a href="#."> تلفن همراه و لوازم جانبی</a>
                                </ul>
                            </li>
                            <li><a href="#."> کامپیوترها و تبلت ها</a></li>
                            <li><a href="#."> مانیتور ها</a></li>
                            <li><a href="#."> لوازم خانگی</a></li>
                            <li><a href="#."> لوازم اداری</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Navbar Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#nav-open-btn" aria-expanded="false">
                    <span>
                        <i class="fa fa-navicon"></i>
                    </span>
                </button>
            </div>
            <!-- NAV -->
            <div class="collapse navbar-collapse" id="nav-open-btn">
                <ul class="nav">
                    <li> <a href="index-2.html">خانه </a></li>
                    <li class="dropdown">
                        <a href="index-2.html" class="dropdown-toggle"
                           data-toggle="dropdown">صفحات </a>
                        <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                            <li><a href="About.html"> درباره </a></li>
                            <li><a href="LoginForm.html"> فرم ورود </a></li>
                            <li><a href="GridProducts_3Columns.html"> محصولات 3 ستونه </a></li>
                            <li><a href="GridProducts_4Columns.html"> محصولات 4 ستونه </a></li>
                            <li><a href="ListProducts.html"> محصولات لیست </a></li>
                            <li><a href="Product-Details.html"> جزئیات محصولات </a></li>
                            <li><a href="ShoppingCart.html"> سبد خرید</a></li>
                            <li><a href="PaymentMethods.html"> روش های پرداخت </a></li>
                            <li><a href="DeliveryMethods.html"> روش های تحویل</a></li>
                            <li><a href="Confirmation.html"> تائیدیه </a></li>
                            <li><a href="CheckoutSuccessful.html"> پرداخت موفق </a></li>
                            <li><a href="Error404.html"> ارور404 </a></li>
                            <li><a href="contact.html"> تماس </a></li>
                            <li class="dropdown-submenu">
                                <a href="#."> پنجره بازشو </a>
                                <ul class="dropdown-menu animated-2s fadeInRight">
                                    <li><a href="#.">پنجره 1</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- Mega Menu Nav -->
                    <li class="dropdown megamenu">
                        <a href="index-2.html" class="dropdown-toggle"
                           data-toggle="dropdown">منوی مگا </a>
                        <div class="dropdown-menu animated-2s fadeInUpHalf">
                            <div class="mega-inside">
                                <div class="top-lins">
                                    <ul>
                                        <li><a href="#."> تلفن همراه و لوازم جانبی </a></li>
                                        <li><a href="#."> تلفن های همراه </a></li>
                                        <li><a href="#."> گوشی های قفل شده </a></li>
                                        <li><a href="#."> تلفن های اختصاصی اول </a></li>
                                        <li><a href="#."> تجهیزات جانبی </a></li>
                                        <li><a href="#."> کیس ها </a></li>
                                        <li><a href="#."> بهترین فروشندگان </a></li>
                                        <li><a href="#."> تخفیفات </a></li>
                                        <li><a href="#."> تمام الکترونیک </a></li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6>الکترونیک</h6>
                                        <ul>
                                            <li><a href="#."> تلفن همراه و لوازم جانبی </a></li>
                                            <li><a href="#."> تلفن های همراه </a></li>
                                            <li><a href="#."> گوشی های قفل شده </a></li>
                                            <li><a href="#."> تلفن های اختصاصی اول </a></li>
                                            <li><a href="#."> تجهیزات جانبی </a></li>
                                            <li><a href="#."> کیس ها </a></li>
                                            <li><a href="#."> بهترین فروشندگان </a></li>
                                            <li><a href="#."> تخفیفات </a></li>
                                            <li><a href="#."> تمام الکترونیک </a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h6>کامپیوترها</h6>
                                        <ul>
                                            <li><a href="#."> کامپیوترها و تبلت ها</a></li>
                                            <li><a href="#."> مانیتور ها</a></li>
                                            <li><a href="#."> لپ تاپ ها و تبلت ها</a></li>
                                            <li><a href="#."> شبکه سازی</a></li>
                                            <li><a href="#."> درایوها و ذخیره سازی</a></li>
                                            <li><a href="#."> قطعات کامپیوتر و قطعات</a></li>
                                            <li><a href="#."> چاپگر و جوهر</a></li>
                                            <li><a href="#."> دفتر و لوازم مدرسه </a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2">
                                        <h6>لوازم خانگی</h6>
                                        <ul>
                                            <li><a href="#."> یخچال ها</a></li>
                                            <li><a href="#."> کوره دیواری</a></li>
                                            <li><a href="#."> کابینت آشپزخانه و هود</a></li>
                                            <li><a href="#."> مایکروویو ها</a></li>
                                            <li><a href="#."> ماشین ظرفشویی</a></li>
                                            <li><a href="#."> واشر</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <img class=" nav-img" src="~/images/navi-img.png"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="blog.html" class="dropdown-toggle"
                           data-toggle="dropdown">وبلاگ</a>
                        <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                            <li><a href="blog.html">وبلاگ </a></li>
                            <li><a href="Blog_details.html">تک پست </a></li>
                        </ul>
                    </li>
                    <li> <a href="shop.html">خرید قالب! </a></li>
                </ul>
            </div>

            <!-- NAV RIGHT -->
            <div class="nav-right">
                <span class="call-mun">
                    <i class="fa fa-phone"></i> <strong>خط تلفن:</strong>
                    09357651183
                </span>
            </div>
        </div>
    </nav>
</header>