  <!-- Slid Sec -->
<section class="slid-sec">
    <div class="container">
        <div class="container-fluid">
            <div class="row">

                <!-- Main Slider  -->
                <div class="col-md-9 no-padding">

                    <!-- Main Slider Start -->
                    <div class="tp-banner-container">
                        <div class="tp-banner">
                            <ul>

                                <!-- SLIDE  -->
                                <li data-transition="random" data-slotamount="7" data-masterspeed="300"
                                    data-saveperformance="off">
                                    <!-- MAIN IMAGE -->
                                    <img src="~/images/slider-img-1.jpg" alt="slider"
                                         data-bgposition="center bottom" data-bgfit="cover"
                                         data-bgrepeat="no-repeat">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfl tp-resizeme" data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-110" data-speed="800" data-start="800"
                                         data-easing="Power3.easeInOut" data-splitout="none"
                                         data-elementdelay="0.03" data-endelementdelay="0.4" data-endspeed="300"
                                         style="z-index: 5; font-size:30px; font-weight:500; color:#888888;  max-width: auto; max-height: auto; white-space: nowrap;">
                                        عینک VR با کیفیت بالا
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfr tp-resizeme" data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-60" data-speed="800" data-start="1000"
                                         data-easing="Power3.easeInOut" data-splitout="none"
                                         data-elementdelay="0.03" data-endelementdelay="0.1" data-endspeed="300"
                                         style="z-index: 6; font-size:50px; color:#0088cc; font-weight:800; white-space: nowrap;">
                                        نمایش رویای روز 3D
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfl tp-resizeme" data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="10" data-speed="800" data-start="1200"
                                         data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                                         data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
                                         style="z-index: 7;  font-size:24px; color:#888888; font-weight:500; max-width: auto; max-height: auto; white-space: nowrap;">
                                        شروع از
                                    </div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfr tp-resizeme" data-x="left" data-hoffset="210"
                                         data-y="center" data-voffset="5" data-speed="800" data-start="1300"
                                         data-easing="Power3.easeInOut" data-splitout="none"
                                         data-elementdelay="0.03" data-endelementdelay="0.4" data-endspeed="300"
                                         style="z-index: 5; font-size:36px; font-weight:800; color:#000;  max-width: auto; max-height: auto; white-space: nowrap;">
                                        49.99 تومان
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption lfb tp-resizeme scroll" data-x="left"
                                         data-hoffset="60" data-y="center" data-voffset="80" data-speed="800"
                                         data-start="1300" data-easing="Power3.easeInOut" data-elementdelay="0.1"
                                         data-endelementdelay="0.1" data-endspeed="300" data-scrolloffset="0"
                                         style="z-index: 8;">
                                        <a href="#." class="btn-round big">خرید کنید</a>
                                    </div>
                                </li>

                                <!-- SLIDE  -->
                                <li data-transition="random" data-slotamount="7" data-masterspeed="300"
                                    data-saveperformance="off">
                                    <!-- MAIN IMAGE -->
                                    <img src="~/images/slider-img-2.jpg" alt="slider"
                                         data-bgposition="center bottom" data-bgfit="cover"
                                         data-bgrepeat="no-repeat">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfl tp-resizeme" data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-110" data-speed="800" data-start="800"
                                         data-easing="Power3.easeInOut" data-splitout="none"
                                         data-elementdelay="0.03" data-endelementdelay="0.4" data-endspeed="300"
                                         style="z-index: 5; font-size:30px; font-weight:500; color:#888888;  max-width: auto; max-height: auto; white-space: nowrap;">
                                        بدون هزینه انبارداری (پس انداز 35 دلاری)
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfr tp-resizeme" data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-60" data-speed="800" data-start="1000"
                                         data-easing="Power3.easeInOut" data-splitout="none"
                                         data-elementdelay="0.03" data-endelementdelay="0.1" data-endspeed="300"
                                         style="z-index: 6; font-size:50px; color:#0088cc; font-weight:800; white-space: nowrap;">
                                        ساعت ورزشی M75
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfl tp-resizeme" data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="10" data-speed="800" data-start="1200"
                                         data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                                         data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
                                         style="z-index: 7;  font-size:24px; color:#888888; font-weight:500; max-width: auto; max-height: auto; white-space: nowrap;">
                                        فقط الان
                                    </div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfr tp-resizeme" data-x="left" data-hoffset="210"
                                         data-y="center" data-voffset="5" data-speed="800" data-start="1300"
                                         data-easing="Power3.easeInOut" data-splitout="none"
                                         data-elementdelay="0.03" data-endelementdelay="0.4" data-endspeed="300"
                                         style="z-index: 5; font-size:36px; font-weight:800; color:#000;  max-width: auto; max-height: auto; white-space: nowrap;">
                                        320.99 تومان
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption lfb tp-resizeme scroll" data-x="left"
                                         data-hoffset="60" data-y="center" data-voffset="80" data-speed="800"
                                         data-start="1300" data-easing="Power3.easeInOut" data-elementdelay="0.1"
                                         data-endelementdelay="0.1" data-endspeed="300" data-scrolloffset="0"
                                         style="z-index: 8;">
                                        <a href="#." class="btn-round big">خرید کنید</a>
                                    </div>
                                </li>

                                <!-- SLIDE  -->
                                <li data-transition="random" data-slotamount="7" data-masterspeed="300"
                                    data-saveperformance="off">
                                    <!-- MAIN IMAGE -->
                                    <img src="~/images/slider-img-3.jpg" alt="slider"
                                         data-bgposition="center bottom" data-bgfit="cover"
                                         data-bgrepeat="no-repeat">

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfl tp-resizeme" data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-110" data-speed="800" data-start="800"
                                         data-easing="Power3.easeInOut" data-splitout="none"
                                         data-elementdelay="0.03" data-endelementdelay="0.4" data-endspeed="300"
                                         style="z-index: 5; font-size:30px; font-weight:500; color:#888888;  max-width: auto; max-height: auto; white-space: nowrap;">
                                        هنگام خرید خرید بلوتوث رایگان
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfr tp-resizeme" data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="-60" data-speed="800" data-start="1000"
                                         data-easing="Power3.easeInOut" data-splitout="none"
                                         data-elementdelay="0.03" data-endelementdelay="0.1" data-endspeed="300"
                                         style="z-index: 6; font-size:50px; color:#0088cc; font-weight:800; white-space: nowrap;">
                                        ساعت هوشمند فلت
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfl tp-resizeme" data-x="left" data-hoffset="60"
                                         data-y="center" data-voffset="0" data-speed="800" data-start="1200"
                                         data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                                         data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
                                         style="z-index: 7;  font-size:24px; color:#888888; font-weight:500; max-width: auto; max-height: auto; white-space: nowrap;">
                                        فقط:
                                    </div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfr tp-resizeme" data-x="left" data-hoffset="240"
                                         data-y="center" data-voffset=" -5" data-speed="800" data-start="1300"
                                         data-easing="Power3.easeInOut" data-splitout="none"
                                         data-elementdelay="0.03" data-endelementdelay="0.4" data-endspeed="300"
                                         style="z-index: 5; font-size:36px; font-weight:800; color:#000;  max-width: auto; max-height: auto; white-space: nowrap;">
                                        599.00 تومان
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption lfb tp-resizeme scroll" data-x="left"
                                         data-hoffset="60" data-y="center" data-voffset="80" data-speed="800"
                                         data-start="1300" data-easing="Power3.easeInOut" data-elementdelay="0.1"
                                         data-endelementdelay="0.1" data-endspeed="300" data-scrolloffset="0"
                                         style="z-index: 8;">
                                        <a href="#." class="btn-round big">خرید کنید</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Main Slider  -->
                <div class="col-md-3 no-padding">

                    <!-- New line required  -->
                    <div class="product">
                        <div class="like-bnr">
                            <div class="position-center-center">
                                <h5>خط جدید مورد نیاز است</h5>
                                <h4>گوشی هوشمند s7</h4>
                                <span class="price">259.99 تومان</span>
                            </div>
                        </div>
                    </div>

                    <!-- Weekly Slaes  -->
                    <div class="week-sale-bnr">
                        <h4>فروش <span>هفتگی!</span></h4>
                        <p>در این هفته تا 50٪ تخفیف در همه موارد فروشگاه آنلاین ذخیره شده است.</p>
                        <a href="#." class="btn-round">خرید کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>