  <!-- Slid Sec -->
<section class="slid-sec">
    <div class="container">
        <div class="container-fluid">
            <div class="row">

                <!-- Main Slider  -->
                @await Component.InvokeAsync("GetSlider")
                <!-- Main Slider  -->
                <div class="col-md-3 no-padding">

                    <!-- New line required  -->
                    <div class="product">
                        <div class="like-bnr">
                            <div class="position-center-center">
                                <h5>خط جدید مورد نیاز است</h5>
                                <h4>گوشی هوشمند s7</h4>
                                <span class="price">259.99 تومان</span>
                            </div>
                        </div>
                    </div>

                    <!-- Weekly Slaes  -->
                    <div class="week-sale-bnr">
                        <h4>فروش <span>هفتگی!</span></h4>
                        <p>در این هفته تا 50٪ تخفیف در همه موارد فروشگاه آنلاین ذخیره شده است.</p>
                        <a href="#." class="btn-round">خرید کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>