   <!-- Top bar -->
<div class="top-bar">
    <div class="container">
        <p>به مرکز اسمارت تچ خوش آمدید!</p>
        <div class="right-sec">
            <ul>
                <li><a href="#.">ورود / ثبت نام </a></li>
                <li><a href="#.">محل فروشگاه </a></li>
                <li><a href="#.">پرسش و پاسخ </a></li>
                <li><a href="#.">خبرنامه </a></li>
                <li>
                    <select class="selectpicker">
                        <option>فرانسوی</option>
                        <option>آلمانی</option>
                        <option>ایتالیایی</option>
                        <option>ژاپنی</option>
                    </select>
                </li>
                <li>
                    <select class="selectpicker">
                        <option>(USD)</option>
                        <option>GBP</option>
                        <option>Euro</option>
                        <option>JPY</option>
                    </select>
                </li>
            </ul>
            <div class="social-top">
                <a href="#."><i class="fa fa-facebook"></i></a> <a href="#.">
                    <i class="fa fa-twitter"></i>
                </a> <a href="#."><i class="fa fa-linkedin"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a> <a href="#.">
                    <i class="fa fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
</div>