<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li>
                <div class="sidebar-profile clearfix">
                    <div class="profile-img">
                        <img src="~/assets/images/usrbig.jpg" alt="profile">
                    </div>
                    <div class="profile-info">
                        <h3>حسین حیاتی</h3>
                        <p>خوش آمدید !</p>
                    </div>
                </div>
            </li>
            <li class="header">-- اصلی</li>
            <li class="active">
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-home"></i>
                    <span>خانه</span>
                </a>
                <ul class="ml-menu">
                    <li class="active">
                        <a href="/admin/home/index">داشبورد</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-shopping-cart-full"></i>
                    <span>فروشگاه</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/admin/category/index">دسته بندی</a>
                    </li>
                    <li>
                        <a href="/admin/product/index"> محصولات</a>
                    </li>
                    <li>
                        <a href="/admin/product/createproduct"> ثبت محصول</a>
                    </li>
                    <li>
                        <a href="pages/ecommerce/cart.html">سبد خرید</a>
                    </li>
                    <li>
                        <a href="pages/ecommerce/product-list.html">فهرست محصول</a>
                    </li>
                    <li>
                        <a href="pages/ecommerce/invoice.html">صورت حساب</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/role/index">
                    <i class="menu-icon fas fa-chess-king"></i>
                    <span>مدیریت نقشها</span>
                </a>
            </li>
            <li>
                <a href="/admin/user/index">
                    <i class="menu-icon ti-user"></i>
                    <span>مدیریت کاربران</span>
                </a>
            </li>
            <li>
                <a href="/admin/slider/index">
                    <i class="fa fa-film"></i>
                    <span>اسلایدر ها</span>
                </a>
            </li>
            <li>
                <a href="/admin/banner/index">
                    <i class="fa fa-file-movie-o"></i>
                    <span>بنر ها</span>
                </a>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-angle-double-down"></i>
                    <span>منوی چندسطحی</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#" onClick="return false;">
                            <span>آیتم منو</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" onClick="return false;">
                            <span>آیتم منو - 2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" onClick="return false;" class="menu-toggle">
                            <span>سطح - 2</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="#" onClick="return false;">
                                    <span>آیتم منو</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onClick="return false;" class="menu-toggle">
                                    <span>سطح - 3</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <span>سطح - 4</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
</aside>
<!-- #END# Left Sidebar -->