<section>
    <div class="container">
        <!-- Payout Method -->

        <div class="order-success bg-danger">
            <i class="text-danger fa fa-close"></i>
            <h6>متاسفانه عملیات با خطا مواجهه شد</h6>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله .</p>
            <a href="#." class="btn-round">بازگشت به فروشگاه</a>
        </div>
    </div>
</section>