<section>
    <div class="container"> 
        <!-- Payout Method -->
        
        <div class="order-success"> <i class="fa fa-check"></i>
            <h6>تبریک می گوییم! سفارش شما پردازش شده است</h6>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله .</p>
            <a href="#." class="btn-round">بازگشت به فروشگاه</a> </div>
    </div>
</section>